[Unit]
Description=Home assistant BLE
After=network.target

[Service]
#User=hass
#Group=hass

Environment=RUBYOPT="-w0"
Type=forking
ExecStart=/usr/bin/home_assistant-ble -c /var/lib/hass/ble.yml
PIDFile=/run/home_assistant-ble.pid

[Install]
WantedBy=multi-user.target
